
.schoolmaterial,.exam,.topic,.topicContent,.topicExercises,.topicSolutions,.chapter,.formattingContainer{
    
    position:relative;
    left:40px;
}

.schoolmaterial > div:first-child,.exam > div:first-child,.topic > div:first-child,.topicContent > div:first-child,.topicExercises > div:first-child,.topicSolutions > div:first-child,.chapter > div:first-child,.formattingContainer > div:first-child{
    
    height:30px;
    
    border-width:3px;
    border-style:solid;
}

.schoolmaterial > div:first-child,.exam > div:first-child,.topic > div:first-child,.chapter > div:first-child,.formattingContainer > div:first-child{
    
    width:600px;
}

.schoolmaterial > div:first-child{
    
    background-color:#ffffff;
    border-color:#000000;
}

.exam > div:first-child{
    
    background-color:#ff0000;
    border-color:#770000;
}

.topic > div:first-child,.topicContent > div:first-child,.topicExercises > div:first-child,.topicSolutions > div:first-child{
    
    background-color:#00ff00;
    border-color:#007700;
}

.topicContent > div:first-child,.topicExercises > div:first-child,.topicSolutions > div:first-child{
    
    width:200px;
}

.chapter > div:first-child{
    
    background-color:#0000ff;
    border-color:#000077;
}

.formattingContainer > div:first-child{
    
    background-color:#ff00ff;
    border-color:#770077;
}

.link > div:first-child{
    
    background-color:#00ffff;
    border-color:#007777;
}

.schoolmaterial > div:first-child > span,.exam > div:first-child > span,.topic > div:first-child > span,.topicContent > div:first-child > span,.topicExercises > div:first-child > span,.topicSolutions > div:first-child > span,.chapter > div:first-child > span,.formattingContainer > div:first-child > span{
    padding-left:5px;
}