/* Page Configuration */

html,body{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}

#pageContainer{
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    
    cursor:default;
    font-family:arial, helvetica, sans-serif;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Header */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#header{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:2em;
    
    font-size:30px;
    font-weight:700;
    text-align:center;
    
    color:#ffffff;
    background-color:#000077;
}

#headerContent{
    position:relative;
}

#title{
    position:relative;
    top:0.5em;
}

#logoImage{
    position:relative;
    top:0.25em;
    vertical-align:middle;
}

#logoImage>img{
    position:relative;
    height:1.5em;
    vertical-align:middle;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Center */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#center{
    position:absolute;
    top:60px;
    left:0px;
    width:100%;
    height:calc(100% - 80px);
    
    background-color:#00ffff;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* left */

#left{
    position:absolute;
    left:0px;
    
    height:calc(100% - 34px);
    width:calc(200px - 34px);
    
    padding:17px;
    
    border-right:2px solid #0099ff;
    background-color:#00ccff;
}

#examChoice{
    position:relative;
    height:calc(100% - 6px);
    width:calc(100% - 6px);
    
    border: 3px solid #00ffff;
    border-radius:34px 34px 17px 17px;
    overflow:hidden;
}

#examChoice>div{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

#examChoiceHeader{
    position:absolute;
    top:0px;
    height:2em;
    width:100%;
    
    font-size:17px;
    text-align:center;
    
    /* border-color:#00ffff;
    border-style:solid;
    border-width:3px; */
    
    border-width: 0px 0px 1px 0px;
    border-color:#00ffff;
    border-style:solid;
    
    color:#ffffff;
    background-color:#0000cc;
}

#examChoiceHeader>span{
    position:relative;
    top:0.5em;
}

#examChoiceFunctions{
    position:absolute;
    top:35px;
    height:25px;
    width:100%;
}

#examChoiceFunctions>span:nth-child(1)>input{
    position:absolute;
    left:0px;
    width:50%;
}

#examChoiceFunctions>span:nth-child(2)>input{
    position:absolute;
    right:0px;
    width:50%;
}

#examChoiceContent{
    position:absolute;
    bottom:25px;
    
    height:calc(100% - 91px);
    width:100%;
    
    overflow:auto;
    
    background-color:#ffffff;
}

#examList{
    margin:0px;
    padding:7px 25px;
}

#examChoiceServerFunctions{
    position:absolute;
    bottom:0px;
    height:25px;
    width:100%;
}

#examChoiceServerFunctions>span:nth-child(1)>input{
    position:absolute;
    left:0px;
    width:50%;
}

#examChoiceServerFunctions>span:nth-child(2)>input{
    position:absolute;
    right:0px;
    width:50%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* middle */

#middle{
    position:absolute;
    
    left:200px;
    
    height:100%;
    width:calc(100% - 200px);
    
    overflow:auto;
    
    background-color:#dfffff;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Buttom */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#bottom{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:2em;
    
    font-size:10px;
    text-align:center;
    
    color:#ffffff;
    background-color:#000077;
}

#copyright{
    position:relative;
    height:1em;
    top:0.5em;
    /* vertical-align:central; */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* All */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#selectedElement{
    background-color:#cccccc;
}

#propertiesView{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:11;
    
    background-color:#dddddd;
}

#editorContainer{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:11;
    
    background-color:#dddddd;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* datastructure */

.schoolmaterial,.exam,.topic,.topicContentPart,.topicExercisesPart,.topicSolutionsPart,.exercise,.exerciseQuestion,.exerciseSolution,.chapter,.formattingContainer{
    
    position:relative;
    left:40px;
}

.schoolmaterial > div:first-child,.exam > div:first-child,.topic > div:first-child,.topicContentPart > div:first-child,.topicExercisesPart > div:first-child,.topicSolutionsPart > div:first-child,.exercise > div:first-child,.exerciseQuestion > div:first-child,.exerciseSolution > div:first-child,.chapter > div:first-child,.formattingContainer > div:first-child{
    
    height:30px;
    
    border-width:2px;
    border-style:solid;
}

.schoolmaterial > div:first-child,.exam > div:first-child,.topic > div:first-child,.exercise > div:first-child,.chapter > div:first-child,.formattingContainer > div:first-child{
    
    width:1500px;
}

.schoolmaterial > div:first-child{
    
    background-color:#ffffff;
    border-color:#000000;
}

.exam > div:first-child{
    
    background-color:#ff0000;
    border-color:#770000;
}

.topic > div:first-child,.topicContentPart > div:first-child,.topicExercisesPart > div:first-child,.topicSolutionsPart > div:first-child{
    
    background-color:#00ff00;
    border-color:#007700;
}

.topicContentPart > div:first-child,.topicExercisesPart > div:first-child,.topicSolutionsPart > div:first-child,.exerciseQuestion > div:first-child,.exerciseSolution > div:first-child{
    
    width:350px;
}

.exercise > div:first-child,.exerciseQuestion > div:first-child,.exerciseSolution > div:first-child{
    
    background-color:#ffbf00;
    border-color:#ff8800;
}

.chapter > div:first-child{
    
    background-color:#0000ff;
    border-color:#000077;
}

.formattingContainer{
    border:1px solid #770077;
}

.formattingContainer > div:first-child{
    background-color:#ff00ff;
}

div[id*='formattingContainerView']{
    background-color:#ffffff;
}

.link > div:first-child{
    
    background-color:#00ffff;
    border-color:#007777;
}

.schoolmaterial > div:first-child > span,.exam > div:first-child > span,.topic > div:first-child > span,.topicContentPart > div:first-child > span,.topicExercisesPart > div:first-child > span,.topicSolutionsPart > div:first-child > span,.exercise > div:first-child > span,.exerciseQuestion > div:first-child > span,.exerciseSolution > div:first-child > span,.chapter > div:first-child > span,.formattingContainer > div:first-child > span{
    padding-left:5px;
}

input[type="text"]{
    width:100px;
}

.unvisible{
    display:none;
}

.dropableSpaceElementInactive{
    display:none;
}

.dropableSpaceElementActive{
    height:7px;
}

#dropableSpaceElementReady{
    height:21px;
    background-color:#cccccc;
}

#dropableSpaceHeaderReady{
    background-color:#cccccc;
}

*[draggable='true']{
    cursor:grab;
}

#draggedElement{
    cursor:grabbing;
}